Package: com.codyqx4.safemode
Name: Respring
Version: 1.0
Section: System
Maintainer: CODYQX4
Architecture: iphoneos-arm
Description: Enter Safe Mode via Terminal/SSH with the command “safemode”.
Author: CODYQX4
Sponsor: CODYQX4
Depends: mobilesubstrate
