Package: com.codyqx4.itransmission4
Name: iTransmission 4 (iOS 9 Fix)
Version: 1.0
Section: System
Maintainer: CODYQX4
Architecture: iphoneos-arm
Description: Install and LDID iTransmission 4 for iOS 9.
Author: CODYQX4
Sponsor: CODYQX4
Depends: com.andywiik.itransmission4
