Author: N104 <N104.contact@gmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: BioBoot
Package: com.n104.bioboot
Depends: mobilesubstrate, com.bd452.libpass, firmware (>= 7.0), firmware (<< 9.1)
Section: Tweaks
Installed-Size: 602
Version: 1.0-6
Architecture: iphoneos-arm
Description: Use Touch ID after reboot to unlock your phone!
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=biobootDp
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=biobootDp
Sponsor: thebigboss.org <http://thebigboss.org>
dev: n104
Tag: purpose::extension, ios7support::1, ios8support::1
Icon: file:///Library/Activator/Listeners/com.N104.biobootlistener/icon-small@2x.png
